.pizza-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .pizza-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .pizza-img {
      max-height: 200px;
      max-width: 200px;
      cursor: pointer;
      transition: transform 0.3s ease;
      &:hover {
        transform: translateY(5px);
      }
    }
  }
  .pizza-options {
    gap: 1px;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-50);
    .pizza-options_content {
      display: flex;
      justify-content: space-around;
    }
  }
  .pizza-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .minusBtn {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -12px;
      left: -12px;
      right: -12px;
      bottom: -12px;
    }
  }
}
