.page {
  display: flex;
  justify-content: center;
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid var(--orange-500);
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: var(--orange-500);

      &:hover {
        background-color: var(--orange-500);
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: var(--orange-300);
        color: #fff;
      }
    }
  }
}
